body {
    background-color: aqua;
}

.wins-loses {
    background-color: rgb(0, 119, 255);
}

.goal {
    background-color: rgb(3, 121, 3);
    color: black;
}
.container {
    margin: auto;
}
.crystalImage {
    height: 100px;
    width: 100px;
    outline: none;
}
h1 {
    background-color: orange;
    color: white;
    padding: 10px;
}
h2 {
    background-color: tan;
}
h5 {
    background-color: teal;
    height: 25px;
}
p {
    background-color: pink;
}   
@media only screen and (max-width: 840px) {
    .container {
        width: 100%;
        font-size: 40px;
    }