body {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/abstract.jpg');
}

.wins-loses {
    background-color: rgb(0, 119, 255);
    margin-bottom: 15px;
    font-family: 'Orbitron', sans-serif;
    width: 800px;
    padding: 10px;
}

.goal {
    background-color: rgb(3, 121, 3);
    color: black;
    font-family: 'Orbitron', sans-serif;
}
.container {
    margin: auto;
}
.crystalImage {
    height: 100px;
    width: 100px;
    outline: none;
}
h1 {
    background-color: orange;
    color: white;
    padding: 10px;
    font-family: 'Orbitron', sans-serif;
    width: 800px;
    font-size: 12mm;
}
h2 {
    background-color: tan;
    font-family: 'Orbitron', sans-serif;
    width: 800px;
    padding: 10px;
}
h5 {
    background-color: teal;
    height: 25px;
    margin-bottom: 15px;
    font-family: 'Orbitron', sans-serif;
    width: 800px;
    padding: 10px;
}
li {
    background-color: pink;
    font-family: 'Orbitron', sans-serif;
    width: 800px;
    padding: 10px;
}   
@media only screen and (max-width: 840px) {
    .container {
        width: 100%;
        font-size: 40px;
    }
}
